.link {
    color: black;
    text-decoration: none;
    font-family: Montserrat, sans-serif;
    font-size: 20px;
    font-weight: 600;
    padding: 24px 32px;
    background-color: white;
    border-radius: 5px;
    transition-duration: .3s;
}

.body {
    text-align: center;
    align-items: center;
}

.link:hover {
    background-color: #C9C9C9;
    transition-duration: .3s;
}

.link:disabled {
    background-color: #4C4C4C;
}

.link:active {
    background-color: #A5A5A5;
}

@media (max-width: 320px) {
    .link {
        font-size: 14px;
        padding: 10px 12px;
    }
}
