.main {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    padding-top: 20px;
    text-align: center;
    align-items: center;
}

.basket_btn {
    background: none;
    border: none;
    width: 5em;
    cursor: pointer;
}

.body {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    max-width: 1024px;
    margin: 0 auto;
    padding: 10px;
}

.logo {
    width: 20%;
}

@media (max-width: 320px) {
    .logo {
        width: 20%;
    }
    .main {
        gap: 5px;
    }
    .basket_btn {
        width: 5em;
    }
    .body {
        padding: 10px;
    }
}
