.body{
    display: flex;
    flex-direction: column;
    gap: 20px;
    text-align: center;
    align-items: center;
    border-bottom: 1px solid rgb(132, 132, 132);
    border-top: 1px solid rgb(132, 132, 132);
}
.leftSide{
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: space-between;
}
.rightSide{
    width: 20%;
}
.counterBBlock{
    width: 50%;
}
.nameBlock {
    width: 90%;
}
.img{
    width: 40%;
}
.name{
    color: rgb(0, 0, 0);
    font-family: Montserrat sans-serif;
    font-size: 16px;
    font-weight: 300;
    line-height: 15px;
}
.btnImg{
    width: 100%;
}
.btn{
    border-radius: 50%;
    width: 40px;
    height: 40px;
    cursor: pointer;
    transition-duration: .3s;
}
.btnBlock {
    display: flex;
    gap: 5px;
}
.btn:hover {
    background-color: #959595;
    transition-duration: .3s;
}
.price{
    color: rgb(0, 0, 0);
    font-family: Montserrat sans-serif;
    font-size: 16px;
    font-weight: 300;
    line-height: 15px;
}

@media (max-width: 320px) {
    .body {
        flex-direction: column;
        gap: 20px;
    }
    .leftSide {
        flex-direction: column;
    }
    .img {
        width: 40%;
    }
    .nameBlock {
        width: 90%;
    }
    .counterBBlock {
        width: 50%;
    }
    .btnBlock {
        display: flex;
        gap: 5px;
    }
}